<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Modifier ce profil", edit_user_path(@user) %> |
  <%= link_to "Retour au profils", users_path %>

  <%= button_to "Supprimer ce profil", @user, method: :delete %>
</div>
