
<%= simple_form_for(@zweet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <p>Pour vous créer un nouveau profil -> <%= link_to "Cliquez ici !",new_user_path %> </p>
    <%= f.input :content %>
    <%= f.input :image %>
  </div>

  <%= f.button :submit, class: "btn btn-success text-white" %>
  <%= link_to "Retour aux Zweets", zweets_path, class: "btn btn-secondary" %>
  </div>
<% end %>
