<p style="color: green"><%= notice %></p>

<% content_for :title, "Zweets" %>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <div class="d-flex flex-column">
              <div class="order-0 text-left" style="width: 100%;">
                <%= image_tag 'imagelogo.svg', class: "img-fluid" %>
              </div>
            </div>
            <div style="position: relative; left: 50%; transform: translateX(-50%);">
              <%= link_to "New zweet", new_zweet_path, class: "btn btn-dark" %>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8 text-center">
  <h1>Accueil - Zweets récents</h1>
<div id="zweets">
  <% @zweets.each do |zweet| %>
    <%= render zweet %>
    <!-- <p>
      <%= link_to edit_zweet_path(zweet), class: "btn btn-outline-secondary mt-4" do %>
        <%= image_tag "edit.svg" %>
      <% end %>
    </p> -->
  <% end %>
</div>
</div>