<p style="color: green"><%= notice %></p>

<% content_for :title, "Zweets" %>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <p>Zweeter</p>
            <%= link_to "New zweet", new_zweet_path, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8 text-center">
  <h1>Accueil</h1>
<div id="zweets">
  <% @zweets.each do |zweet| %>
    <%= render zweet %>
    <p>
      <%= link_to "Show this zweet", zweet %>
    </p>
  <% end %>
    <p>
      <%= link_to "New zweet", new_zweet_path %>
    </p>
</div>
</div>