<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Zweet</h1>
      <p><%= @zweet.content %></p>
      <p><%= @zweet.user.email %></p>
      <p><%= @zweet.created_at %></p>
    </div>
  </div>
</div>
<%= render @zweet %>

<div>
  <%= link_to "Edit this zweet", edit_zweet_path(@zweet) %> |
  <%= link_to "Back to zweets", zweets_path %>

  <%= button_to "Destroy this zweet", @zweet, method: :delete %>
</div>
