<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-header">
          <h1>Zweet</h1>
        </div>
        <div class="card-body">
          <p><%= @zweet.content %></p>
          <p class="text-muted"><%= @zweet.created_at.strftime("%B %d, %Y %H:%M") %></p>
        </div>
        <div class="card-footer text-right">
          <%= link_to "Edit this zweet", edit_zweet_path(@zweet), class: "btn btn-warning" %>
          <%= link_to "Back to zweets", zweets_path, class: "btn btn-secondary" %>
          <%= link_to "Destroy this zweet", @zweet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>